<!-- INCLUDED TO DASHBOARD.HTML  -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="card" id="total-orders" >
            <div class="card-header text-center" >
                <h5 class="card-title">Total Orders</h5>
            </div>    
            <div class="card-body">
                <h3 class="card-title text-center">{{total_order}}</h3>
            </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card" id="total-delivered" >
            <div class="card-header text-center" >
                <h5 class="card-title">Orders Delivered</h5>
            </div>    
            <div class="card-body">
                <h3 class="card-title text-center ">{{delivered}}</h3>
              
            </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card" id="total-pendings">
            <div class="card-header text-center" >
                <h5 class="card-title">Orders Pending</h5>
            </div>    
            <div class="card-body">
                <h3 class="card-title text-center">{{pending}}</h3>
            </div>
        </div>
      </div>
    </div>
  </div>